@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
    font-family: "pop"; 
    src: url("../public/glory.ttf"); 
} 
@font-face { 
    font-family: "medium"; 
    src: url("../public/sub.otf"); 
} 